.as-container {
  padding: 0px 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 9px;
  margin: 10px 5px;
  align-items: center;
  justify-items: center;
}
.as-container:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.as-title {
  font-size: 30px;
  font-family: "Inter";
  font-weight: bold;
}
.as-list-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 85vw;
  margin: 20px auto;
}
.as-list {
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 85vw;
}
.as-desc {
  font-size: 20px;
  font-family: "Inter";
}
.type {
  width: max-content;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: normal;
  border-radius: 15px;
  margin: 0;
}
.type-text {
  font-size: 20px;
  margin: 5px;
}
.skills-container {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-container img {
  width: 50px;
  background-color: orange;
  margin: 10px;
  padding: 5px;
}
.skills-container .cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  height: 25px;
  width: 100px;
  background-color: rgb(250, 123, 76);
}
img {
  width: 200px;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 300px;
  margin: 0 auto;
}
.search input{
    text-align: center;
    width: 200px;
    height: 30px;
    border: 1px solid #000;
}
